{% extends "base.html" %}
{% load static %}
{% load martortags %}

{% block head %}
    <title>Question Modify - KHUtack Overflow</title>
    <link rel="stylesheet" href="/static/css/question_write.css">
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/question.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="main_container">
        <div class="sub_container">
            <form action="{% url 'put_answer' id %}" method="post" onsubmit="return form_answer()" novalidate>
                {% csrf_token %}
                {{ form.content }}
                <div class="center_text">
                    <input type="button" value="질문 작성" onclick="this.form.submit()" />
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function(i, block){
            hljs.highlightBlock(block);
        });
    </script>
    <script>
        // fill content
        var textarea = document.querySelector('textarea.martor');
        textarea.value = function(){/*{{content|safe}}*/}.toString().slice(13,-3)
    </script>
{% endblock %}