{% extends "base.html" %}

{% block head %}
    <title>KHUtack Overflow</title>
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock%}

{% block content %}
    <div class="main_container">
        <div class="sub_container">
            <div class="index_banner_container"> 
                <div class="index_banner_first">
                    For KHU. For Software.
                </div>
                <div class="index_banner_second">
                    KHUtack Overflow
                </div>
            </div>
            <div class="sub_title_container">
                <span>Recent Posts</span>
            </div>
            <div class="question_list_container">
                    {% for question in questions %}
                    <div class="question_box_container">
                        <div class="question_box_first">
                            <span class="board">{{ question.category }}</span>
                            <span class="title">{{ question.title }}</span>
                        </div>
                        <div class="question_box_second">
                            <span class="icon_content">
                                <i class="fas fa-calendar"></i>
                                {{ question.published }}
                            </span>
                            <span class="icon_content">
                                <i class="fas fa-user"></i>
                                {{ question.writer }}
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}