div.main_container {
    width: 100%;
    padding: 20px 0;
}

div.sub_container {
    margin: auto;
    width: 100%;
    max-width: 1080px;
}

div.sub_title_container {
    text-align: center;
}

div.sub_title_container > span {
    margin-bottom: 8px;
    border-bottom: 3px solid black;
    padding: 4px 8px;
    font-size: 24px;
    font-weight: lighter;
}

div.question_box_container { 

}



div.question_list_container {
    padding: 20px 0;
}